.addproducts{
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    padding: 5px 50px;
    margin: 20px 200px;
    border-radius: 6px;
    background-color: white;
}
h1{
    margin-left: 240px;
    font-size: 45px;
    font-weight: 400;
    color: green;
}
.addproducts-form p{
    width: 100%;
    color: green;
    font-size: 24px;
}

.addproducts-images p{
    width: 100%;
    color: green;
    font-size: 24px;
}

.addproducts-form input{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #176403;
}
.addproducts-form select{
    box-sizing: border-box;
    width: 10%;
    height: 40px;
    border-radius: 4px;
    padding-left: 5px;
    border: 1px solid #176403;
}
.addproducts-images input{
    width: 60%;
    height: 30px;
    margin-bottom: 10px;
}

.addproducts-submitButton {
    margin-top: 20px;
}

.addproducts-submitButton button{
    color:#176403;
    height: 40px;
    width: 90px;
    border-radius: 10px;
    border-color: green;
    background-color: white;
    cursor: pointer;
}


