.productdisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}
.display-left {
    display: flex;
    flex-direction: column;

}
.product-mainImage {
    margin-bottom: 20px;
}

.product-mainImage img {
    border: 1px solid black;
    border-radius: 5px;
    width: 350px;
}

.product-images {
    display: flex;
    margin-top: 20px;
    gap: 10px;
    flex-wrap: wrap;
}

.product-images img {
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
}
.product-images img:hover{
    transform: scale(1.05);
    transition: 0.6s;
}

.display-right {
    margin-left: 100px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.product-name {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 30px;
}

.product-description{
    font-size: 28px;
}

.product-size {
    margin-top: 10px;
    font-size: 20px;
}
.product-price {
    display: flex;
    margin-top: 20px;
    font-size: 20px;
    gap: 10px;
}

.product-oldprice {
    text-decoration: line-through;
    opacity: 40%;
    color: red;
    font-weight: 500;
}

.product-newprice {
    color: green;
    font-weight: 500;
}

.display-right button {
    width: 100px;
    height: 50px;
    font-size: 18px;
    background-color: green;
    color: white;
    margin-top: 30px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
}

.display-backButton{
    margin-bottom: 10px;
}

.display-backButton button {
    font-size: 18px;
    padding: 10px 20px; 
    border-radius: 5px;
    border: 2px solid green;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

@media(max-width: 1080px) {
    .product-mainImage img{
        width: 300px;
    }
    .product-name {
        font-size: 40px;
    }
    .product-description {
        font-size: 20px;
    }
    .product-size {
        font-size: 20px;
    }
    .display-right button {
        width: 100px;
    }
    .display-right {
        margin-left: 80px;
    }
}

@media(max-width: 800px) {
    .productdisplay{
        flex-direction: column;
        align-items: center;
    }
    .product-mainImage img{
        width: 80vw;
        max-width: 175px;
    }
    .product-name {
        font-size: 25px;
        margin-top: 10px;
        text-align: left;
    }
    .product-description {
        font-size: 16px;
        text-align: left;
    }
    .product-size {
        font-size: 16px;
        margin-top: 30px;
        text-align: left;
    }
    .product-images {
        margin-top: 163px;
    }
    .product-images img{
        width: 60px;
        height: 70px;
    }
    .product-price {
        justify-content: left;
    }
    .display-left{
        flex-direction: row;
        gap: 10px;
    }
    .display-right button {
        width: 80px;
        font-size: 14px;
    }
    .display-right{
        margin-left: 50px;
    }
    .display-backButton button{
        font-size: 14px;
        padding: 5px 10px;
    }
}

@media(max-width: 430px) {
    .product-mainImage img{
        width: 80vw;
        max-width: 145px;
    }
    .product-name {
        font-size: 20px;
        margin-top: 10px;
        text-align: left;
    }
    .product-description {
        font-size: 14px;
        text-align: left;
    }
    .product-size {
        font-size: 14px;
        margin-top: 30px;
        text-align: left;
    }
    .product-images {
        margin-top: 135px;
        gap: 5px;
    }
    .product-images img{
        width: 50px;
        height: 60px;
    }
    .product-price {
        justify-content: left;
        font-size: 16px;
    }
    .display-left{
        flex-direction: row;
        gap: 5px;
        margin-top: 50px;
    }
    .display-right button {
        width: 70px;
        height: 40px;
        font-size: 12px;
    }
}

@media(max-width: 430px) {
    .product-images{
        gap: 3px;
    }
}
