.productdisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}
.display-left {
    display: flex;
    flex-direction: column;

}
.product-mainImage {
    margin-bottom: 20px;
}

.product-mainImage img {
    border: 1px solid black;
    border-radius: 5px;
    width: 350px;
}

.product-images {
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.product-images img {
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
}
.product-images img:hover{
    transform: scale(1.05);
    transition: 0.6s;
}

.display-right {
    margin-left: 100px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.product-name {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 10px;
}

.product-description{
    font-size: 28px;
}

.product-size {
    margin-top: 10px;
    font-size: 20px;
}
.product-price {
    display: flex;
    margin-top: 20px;
    font-size: 20px;
    gap: 10px;
}

.product-oldprice {
    text-decoration: line-through;
    opacity: 40%;
    color: red;
    font-weight: 500;
}

.product-newprice {
    color: green;
    font-weight: 500;
}

.display-right button {
    width: 15%;
    height: 50px;
    font-size: 18px;
    color: green;
    margin-top: 30px;
    cursor: pointer;
    font-weight: 600;
}
