.allproducts {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.allproducts h1{
    justify-content: center;
    margin: 0;
}

.productlist {
    display: flex;
    flex-direction: column;
}