.OrderData-format {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.OrderData-products img{
    width: 100px;
}

.OrderData-products {
    display: flex;
    gap: 100px
}

.OrderData-products p {
    max-width: 100px;
}

.OrderData-hr hr{
    height: 3px;
    background: #060505;
    border: 0;
}

.OrderData-dateprice {
    display: flex;
    flex-direction: column;
}