.OrderData {
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgb(0,0,0,0.2);
}

.OrderData-format {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
}

.OrderData-products img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}

.OrderData-products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.OrderData-products div{
    text-align: center;
}

.OrderData-products p {
    max-width: 100px;
    font-size: 1rem;
    margin-top: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.OrderData-hr hr{
    margin-top: 20px;
    height: 2px;
    background: #060505;
    border: none;
}

.OrderData-dateprice {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: 500;
}

@media (max-width: 800px) {
    .OrderData-format {
        flex-direction: column;
        align-items: center;
    }

    .OrderData-dateprice {
        text-align: center;
        margin-bottom: 20px;
    }

    .OrderData-products {
        justify-content: center;
        gap: 15px;
    }

    .OrderData-products img {
        width: 70px;
        height: 70px;
    }

    .OrderData-products p {
        font-size: 0.9rem;
    }

    .OrderData-dateprice h2 {
        font-size: 1.3rem;
    }

    .OrderData-dateprice p {
        font-size: 1rem;
    }
}
@media (max-width: 500px) {
    .OrderData-products img {
        width: 60px;
        height: 60px;
    }

    .OrderData-products p {
        font-size: 0.8rem;
    }

    .OrderData-dateprice h2 {
        font-size: 1.2rem;
    }

    .OrderData-dateprice p {
        font-size: 0.9rem;
    }
}