.item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.images {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.item img {
    display: flex;
    width: 300px;
    gap: 10px;
}

.item p {
    margin: 6px 0px;
}

.item-prices {
    display: flex;
    gap: 20px; 
}

.item-newPrice {
    color: #0eb108;
    font-size: 18px;
    font-weight: 500;
}

.item-oldPrice {
    color: #de0101;
    font-size: 18px;
    font-weight: 600;
    text-decoration: line-through;
}

.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}
