.signuplogin {
    width: 100%;
    background: #9fffb4;
    height: auto;
    padding-top: 50px;
    padding-bottom: 100px;
}

.signuplogin-container {
    width: 90%;
    max-width: 600px;
    height: auto;
    margin: auto;
    background: white;
    padding: 40px 60px;
    border-radius: 10px;
    margin-top: 0px;
}

.signuplogin-container h1{
    margin: 20px 0px;
    font-size: 30px;
    font-weight: 700;
}

.signuplogin-fields {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 20px;
}

.signuplogin-fields input{
    height: 60px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid green;
    outline: none;
    font-size: 20px;
    color: green;
}

.signuplogin button{
    width: 20%;
    height: 60px;
    font-size: 24px;
    background-color:green;
    color: white;
    margin-top: 30px;
    cursor: pointer;
    font-weight: 600;
}

.signuplogin-login {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
}

.signuplogin-login span{
    color: green;
    font-weight: 500;
    cursor: pointer;
}

@media (max-width: 800px) {
    .signuplogin-container {
        padding: 30px 20px;
    }

    .signuplogin-container h1 {
        font-size: 24px;
    }
    .signuplogin-fields input {
        height: 45px;
        width: 90%;
        font-size: 16px;
    }
    .signuplogin button {
        height: 45px;
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .signuplogin-container{
        padding: 20px 15px;
    }
    .signuplogin-container h1{
        font-size: 21px;
    }
    .signuplogin-fields input {
        height: 40px;
        font-size: 14px;
    }
    .signuplogin button{
        height: 40px;
        font-size: 14px;
    }
}