.signuplogin {
    width: 100%;
    height: 200vh;
    background: #9fffb4;
    padding-top: 100px;
}

.signuplogin-container {
    width: 600px;
    height: 600px;
    background: white;
    margin: auto;
    padding: 40px 60px;
}

.signuplogin-container h1{
    margin: 20px 0px;
    font-size: 30px;
    font-weight: 700;
}

.signuplogin-fields {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 20px;
}

.signuplogin-fields input{
    height: 60px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid green;
    outline: none;
    font-size: 20px;
    color: green;
}

.signuplogin button{
    width: 100%;
    height: 60px;
    font-size: 28px;
    color: green;
    margin-top: 30px;
    cursor: pointer;
    font-weight: 600;
}

.signuplogin-login {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
}

.signuplogin-login span{
    color: green;
    font-weight: 500;
    cursor: pointer;
}