.offers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.offers h1 {
    color: black;
    font-size: 55px;
    font-weight: 750;
}

.offers hr {
    width: 300px;
    height: 6px;
    border-radius: 20px;
    background: green;
}

.offer {
    display: flex;
    margin-top: 60px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

@media (max-width: 1280px) {
    .offers hr {
        width: 300px;
        height: 6px;
    }
    .offer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 800px;
    justify-content: center;
    }
}

@media (max-width: 800px) {
    .offers {
        gap: 5px;
    }

    .offers h1 {
        font-size: 45px;
    }
    .offers hr {
        width: 250px;
        height: 6px;
    }

    .offer {
        max-width: 550px;
        margin-left: 60px;
        gap: 15px;
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .offers h1 {
        font-size: 35px;
    }

    .offers hr {
        width: 200px;
        height: 6px;
    }

    .offer {
        max-width: 400px;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}