.product-item {
    border: 1px solic #ccc;
    margin: 10px;
    padding: 10px;
}

.product-item input{
    display: block;
    margin-bottom: 5px;
}

.product-item img {
    max-width: 100px;
    margin-bottom: 10px;
}