.product-item {
    display: flex;
    flex-direction: column;
    border: 1px solic #ccc;
    margin: 10px;
    padding: 10px;
}

.product-item-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.product-item-info p {
    font-size: 20px;
    font-weight: 600;
}

.product-item-info button{
    color:#176403;
    height: 40px;
    width: 90px;
    border-radius: 10px;
    border-color: green;
    background-color: white;
    cursor: pointer;
}

.product-item-inputform{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-item-inputform input{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #176403;
}

.product-item-inputform button {
    color:#176403;
    height: 40px;
    width: 90px;
    border-radius: 10px;
    border-color: green;
    background-color: white;
    cursor: pointer;
}
.product-item img {
    max-width: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
}