.UserAccount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.UserAccount-logout button {
    width: 100%;
    font-size: 16px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
}

