.UserAccount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
}

.UserAccount h1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.UserAccount-logout {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.UserAccount-logout button {
    width: 120px;
    font-size: 16px;
    height: 30px;
    border-radius: 5px;
    background-color: green;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.UserAccount-orderHistory h2{
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.UserAccount-orderpages{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.UserAccount-orderpages button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    width: fit-content;
}

.UserAccount-orderpages span {
    font-size: 0.9rem;
}

@media (max-width: 800px) {
    .UserAccount h1 {
        font-size: 1.6rem;
    }

    .UserAccount-orderHistory h2 {
        font-size: 1.5rem;
    }

    .UserAccount-logout button {
        width: 100px;
        height: 35px;
        font-size: 14px;
    }

    .UserAccount-orderpages button {
        padding: 8px 16px;
        font-size: 14px;
    }

    .UserAccount-orderpages span {
        font-size: 0.9rem;
    }
}


@media (max-width: 500px) {
    .UserAccount {
        padding: 10px;
    }

    .UserAccount h1 {
        font-size: 1.4rem;
    }

    .UserAccount-orderHistory h2 {
        font-size: 1.3rem;
    }

    .UserAccount-logout button {
        width: 90px;
        height: 30px;
        font-size: 12px;
    }

    .UserAccount-orderpages button {
        padding: 6px 12px;
        font-size: 12px;
    }

    .UserAccount-orderpages span {
        font-size: 0.8rem;
    }
}



