.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    gap: 30px;
    margin-top: auto;
}

.footer-logo img {
    width: 100px;
}
.footer-logo {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.footer-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icons-container {
    padding: 12px;
    background: rgb(20, 113, 20);
    border: 1px solid green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons-container img {
    width: 40px;
}

@media (max-width: 800px) {
    .footer{
        gap: 30px;
        padding: 30px 15px;
    }

    .footer-logo img{
        width: 120px;
    }

    .footer-icons {
        gap: 15px;
    }
    .icons-container{
        padding: 10px;
    }

    .icons-container img{
        width: 35px;
    }
}

@media(max-width: 500px) {
    .footer{
        gap: 20px;
        margin-right: 20px;
    }
    .footer-logo{
        gap: 15px;
    }
    .footer-logo img{
        width: 80px;
    }
    .footer-icons {
        gap: 10px;
    }
    .icons-container {
        padding: 8px;
    }
    .icons-container img{
        width: 30px;
    }
}


