.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer-logo img {
    width: 150px;
}
.footer-logo {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-links {
    display: flex;
    list-style: none;
    gap: 50px;
    color: green;
    font-size: 20px;
}

.footer-links li {
    cursor: pointer;
}

.footer-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icons-container {
    padding: 10px;
    padding-bottom: 6px;
    background: rgb(20, 113, 20);
    border: 1px solid green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) {
    .footer{
        gap: 30px;
        padding: 30px 10px;
        height: auto;
    }

    .footer-logo img{
        width: 120px;
    }

    .footer-links {
        gap: 20px;
        font-size: 16px;
    }
    .footer-icons {
        gap: 10px;
    }
    .icons-container{
        padding: 8px;
    }

    .icons-container img{
        width: 40px;
    }
}

@media(max-width: 500px) {
    .footer{
        gap: 20px;
        padding: 20px 5px;
    }
    .footer-logo img{
        width: 100px;
    }
    .icons-container {
        padding: 6px;
    }
    .icons-container img{
        width: 30px;
    }
}


