.hero {
    display: flex;
    background-color: #9fffb4;
    padding: 20px;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    padding-left: 180px;
    line-height: 1.1;
    height: 600px;
}

.hero-left p {
    color: black;
    font-size: 75px;
    font-weight: 700;
}

.hero-handIcon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-handIcon img {
    width: 105px;
}

.hero-right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.hero-right img {
    width: 600px;
}

.hero-offersButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 300px;
    height: 75px; 
    border-radius: 75px;
    margin-top: 30px;
    background: green;
    color: white;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}

@media (max-width: 1280px) {
    .hero-left {
        padding-left: 100px;
    }
    .hero-left p {
        font-size: 65px;
    }
    .hero-right img {
        width: 500px;
    }
}

@media (max-width: 1024px) {
    .hero {
        padding: 40px 20px;
    }
    .hero-left {
        padding-left: 0;
        height: auto;
    }
    .hero-left p {
        font-size: 55px;
    }
    .hero-right img {
        width: 450px;
        height: auto;
    }
}

@media (max-width: 800px) {
    .hero-left p {
        font-size: 45px;
    }
    .hero-handIcon img {
        width: 80px;
    }
    .hero-right img {
        width: 300px;
    }
    .hero-offersButton {
        width: 250px;
        height: 60px;
        font-size: 20px;
    }
}

@media (max-width: 650px) {
    .hero-left p {
        font-size: 35px;
    }
    .hero-handIcon img {
        width: 60px;
    }
    .hero-right img {
        width: 225px;
    }
    .hero-offersButton {
        width: 190px;
        height: 50px;
        font-size: 15px;
    }
}

@media (max-width: 500px) {
    .hero-left p {
        font-size: 30px;
    }
    .hero-handIcon img {
        width: 50px;
    }
    .hero-right img {
        width: 170px;
    }
    .hero-offersButton {
        width: 150px;
        height: 40px;
        font-size: 15px;
    }
}
